.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.location-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-self: center;
  align-items: center;
}

.journal-editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: space-between;
  align-self: center;
  align-items: center;
}

.journal-table {
  font-size: 12px;
}

.editor-ok {
  width: 100%;
}